<div class="section" style="padding: 5rem 0;">
  <div class="container">
    <div class="grid">
      <div class="col-xs-12">
        <form id="film-search" action="<%= url_for(:controller => 'search', :action => 'show') %>" class="form-inline ml-auto">
          <div class="form-group">
            <input class="form-control mr-sm-2" type="search" name="movie" type="text" placeholder="Search">
          </div>
          <input name="page" type="hidden" value="1">
        </form>
      </div>
    </div>
  </div>
</div>