$bg: #fff;
//$bg: #23273a;
$login-bg: rgba(240, 240, 240, 0.5);
$logo-color: #f44336;
$primary-text: #1d1d1d;
$secondary-text: rgba(0, 0, 0, 0.5);
$details-bg: rgba(255,255,255, .75);
//$nav-bg: rgba(35,39,58, .75);
$nav-bg: rgba(255,255,255, .75);
$button-bg: rgba(240, 240, 240, 0.5);
$block-bg: #303655;
$border-color: rgba(240, 240, 240, 0.5);
$link-text: rgba(0, 0, 0, 0.4);
$error: #ef3e6e;
$accent: #eeeeee;